<%= raw flash_message %>
<%= form_tag :action => 'login' do %>
  <div class="field">
  	Email:
    <%=text_field :user, :email %>
  </div>
   <div class="field">
   	Senha:
    <%=password_field :user, :password %>
  </div>
  <%= submit_tag 'Logar' %>
<% end %>

 <%=link_to "Registar", :controller => :users, :action => :new%>