<%= form_for(@item_board) do |f| %>
  <% if @item_board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_board.errors.count, "error") %> prohibited this item_board from being saved:</h2>

      <ul>
      <% @item_board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :board_id %><br />
    <%= f.text_field :board_id %>
  </div>

  <div class="field">
    <%= f.label :path_image %><br />
    <%= f.text_field :path_image %>
  </div>

  <div class="field">
    <%= f.label :path_sound %><br />
    <%= f.text_field :path_sound %>
  </div>
  <div class="field">
    <%= f.label :next_board_id %><br />
    <%= f.text_field :next_board_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
