<p id="notice"><%= notice %></p>

<p>
  <b>Board id::</b>
  <%= @item_board.board_id%>
</p>

<p>
  <b>Path image:</b>
  <%= @item_board.path_image %>
</p>

<p>
  <b>Path sound:</b>
  <%= @item_board.path_sound %>
</p>

<p>
  <b>Next board:</b>
  <%= @item_board.next_board_id %>
</p>


<%= link_to 'Edit', edit_item_board_path(@item_board) %> |
<%= link_to 'Back', item_boards_path %>
